html {
    background-color: black;
    height: 100%;
}
body {
    height: 100%;
    padding: 40px;
    background-color: #FFF6E0;
    border-radius: 10px;
}

body > h1 {
    text-align: center;
}

.card {
    max-width: max-content;
    margin: auto;
    background-color: #FFFBF2;
}

.card-body .fw-lighter {
    display: inline-block;
}

.bi-file-earmark-arrow-up {
    cursor:pointer;
}

.cls-0 {
    fill: #ddbea9;
}

.highlight {
    color: #CB997E;
    font-size: 11vw;
}
.fixed-width {
    width: inherit;
}
.carousel-control-prev, .carousel-control-next {
    position: fixed;
}
a {
    text-decoration: none !important;
}
.ranking {
    font-size: 4vw;
    padding: 10px;
}
.carousel-indicators {
    position: relative;
    top: 0;
}

.carousel-indicators [data-bs-target] {
    background-color: #cb997e;
    opacity: 0.4;
}
.carousel-indicators .active {
    opacity: 1;
}